<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false" version="3.0">
  <display-name>dar</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>ControlServlet</servlet-name>
    <servlet-class>Control.ControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlServlet</servlet-name>
    <url-pattern>/Enter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>ajouteTrajet</servlet-name>
    <servlet-class>service.ajouteTrajet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ajouteTrajet</servlet-name>
    <url-pattern>/ajouteTrajet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>Choix_contrat</servlet-name>
    <servlet-class>service.Choix_contrat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Choix_contrat</servlet-name>
    <url-pattern>/Choix_contrat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>FrequenceDA</servlet-name>
    <servlet-class>service.FrequenceDA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrequenceDA</servlet-name>
    <url-pattern>/FrequenceDA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>service.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>Trajet</servlet-name>
    <servlet-class>service.Trajet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Trajet</servlet-name>
    <url-pattern>/Trajet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>VeloAvailable</servlet-name>
    <servlet-class>service.VeloAvailable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VeloAvailable</servlet-name>
    <url-pattern>/VeloAvailable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>WikiVerif</servlet-name>
    <servlet-class>service.WikiVerif</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WikiVerif</servlet-name>
    <url-pattern>/WikiVerif</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>ParseServlet</servlet-name>
    <servlet-class>service.ParseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParseServlet</servlet-name>
    <url-pattern>/ParseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>AddWiki</servlet-name>
    <servlet-class>service.AddWiki</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddWiki</servlet-name>
    <url-pattern>/AddWiki</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>EspaceU</servlet-name>
    <servlet-class>service.EspaceU</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EspaceU</servlet-name>
    <url-pattern>/EspaceU</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>Profil</servlet-name>
    <servlet-class>service.Profil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profil</servlet-name>
    <url-pattern>/Profil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>StationSelect</servlet-name>
    <servlet-class>service.StationSelect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StationSelect</servlet-name>
    <url-pattern>/StationSelect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>Trajets</servlet-name>
    <servlet-class>service.Trajets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Trajets</servlet-name>
    <url-pattern>/Trajets</url-pattern>
  </servlet-mapping>
</web-app>